#!/usr/bin/env sh

alias www="cd /var/www/html/"
alias cd1="cd ../"
alias cd2="cd ../../"
alias cd3="cd ../../../"
alias cd4="cd ../../../../"
alias cd5="cd ../../../../../"

alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'

alias ll='ls -lh'
alias la='ls -lah'
alias l='ls -CF'

## Get external IP address
alias ipx="curl -s http://ipinfo.io/ip"
alias ippublica="curl ipv4.icanhazip.com"

alias meteo="curl wttr.in/Madrid"

# Edit common file configs
alias ev="vim ~/.vimrc"
alias ea="vim ~/.aliases"
alias eb="vim ~/.bashrc"
alias ez="vim ~/.zshrc"
alias et="vim ~/.tmux.conf"
alias em="vim ~/.muttrc"

alias listusb="mount | grep -i udisks | awk '{print $1}'"

alias ip='/usr/local/bin/grc /usr/bin/ip'
alias diff='/usr/local/bin/grc /usr/bin/diff'
alias dig='/usr/local/bin/grc /usr/bin/dig'
alias gcc='/usr/local/bin/grc /usr/bin/gcc'
alias ifconfig='/usr/local/bin/grc /usr/sbin/ifconfig'
alias mount='/usr/local/bin/grc /bin/mount'
alias netstat='/usr/local/bin/grc /bin/netstat'
alias ping='/usr/local/bin/grc /bin/ping'
alias ps='/usr/local/bin/grc /bin/ps'
alias tail='/usr/local/bin/grc /usr/bin/tail'
alias traceroute='/usr/local/bin/grc /usr/sbin/traceroute'
alias grep="grep --color=always"
alias ngrep="grep -n"
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"

## tmux
#alias tmux="tmux attach || tmux new"

## screen
alias screen="screen -xRR"

## Checksums
alias sha1="openssl sha1"
alias md5="openssl md5"

## List open ports
alias ports="netstat -tulanp"

## Get header
alias header="curl -I"

## Extract file, example. "ex package.tar.bz2"
ex() {
  if [[ -f $1 ]]; then
    case $1 in
      *.tar.bz2) tar xjf $1 ;;
      *.tar.gz)  tar xzf $1 ;;
      *.bz2)     bunzip2 $1 ;;
      *.rar)     rar x $1 ;;
      *.gz)      gunzip $1  ;;
      *.tar)     tar xf $1  ;;
      *.tbz2)    tar xjf $1 ;;
      *.tgz)     tar xzf $1 ;;
      *.zip)     unzip $1 ;;
      *.Z)       uncompress $1 ;;
      *.7z)      7z x $1 ;;
      *)         echo $1 cannot be extracted ;;
    esac
  else
    echo $1 is not a valid file
  fi
}
## strings
alias strings="strings -a"

## history
alias hg="history | grep"

### Network Services
alias listen="netstat -antp | grep LISTEN"
alias http="python -m http.server 8080"

alias burpsuite="cd ~/Pentest/Web/Scanner/burpsuite; ./regenerate.sh"
alias dirsearch="cd ~/Pentest/Web/Fuzzing/dirsearch"

# Tmux
alias tka="tmux kill-session -a"
alias tbb="~/Scripts/tmux-bbounty.sh"
